@model IEnumerable<handmadeShop.Web.Models.ProductModel>
@{
    ViewBag.Title = "ItemsBought";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["RenderNavbar"] = false;
}

<section class="ftco-section ftco-cart">
    <a style="margin-left:1150px" href="javascript:history.back()" class="btn btn-primary">Back to Previous Page</a>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <h2>Items Bought</h2>
                <div id="cartTable" class="cart-list">
                    <table class="table">
                        <thead class="thead-primary">
                            <tr class="text-center">
                                <th>&nbsp;</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="text-center">
                                    <td class="image-prod"><div class="img" style="background-image:url(@item.PathImage);"></div></td>
                                    <td>@item.Name</td>
                                    <td>@item.Price</td>
                                    <td>@item.Quantity</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</section>

<style>
    td {
        text-align: center;
        color: white;
        margin-top: 20px;
    }

    td {
        font-size: 18px;
    }
</style>
