<footer class="ftco-footer ftco-section img">
    <div class="overlay"></div>
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">About Us</h2>
                    <p>In the picturesque village of Rogojeni, nestled in the Șoldănești district, our artisans bring dreams to life through their hands. Here, the art of handmade is celebrated, and each product is crafted with love, care, and an eye for detail. From delicate jewelry to cozy blankets and traditional Moldovan clothes, we create unique pieces that add warmth and beauty to your everyday life. Join us on this journey of creativity and craftsmanship, where every item tells a story and every stitch is a labor of love.</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="https://www.facebook.com/handmade.moldova1?mibextid=LQQJ4d" target="_blank"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.facebook.com/mariana.groza.10?mibextid=LQQJ4d" target="_blank"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="https://www.instagram.com/handmade_moldova_?igsh=NnJ4cHBocXlpYXBu" target="_blank"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Services</h2>
                    <ul class="list-unstyled">
                        <li><p class="py-2 d-block">Customization</p></li>
                        <li><p class="py-2 d-block">Consultation</p></li>
                        <li><p class="py-2 d-block">Delivery</p></li>

                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Question?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">Rogojeni, Șoldănești, Moldova</span></li>
                            <li><p><span class="icon icon-phone"></span><span class="text">+373 60096558</span></p></li>
                            <li><p><span class="icon icon-envelope"></span><span class="text">handmadeshop@gmail.com</span></p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p>&copy; @DateTime.Now.Year - HandmadeShop</p>
            </div>
        </div>
    </div>
</footer>